/* reset css start  */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* reset css ends  */

/* root variables  */

:root{
    --font : Verdana, Geneva, Tahoma, sans-serif;
}

/* root variable ends  */


/* general class  */

.hidden{
    display: none;
}

.active{
    color: rgb(107, 139, 247);
}

/* general css ends here  */


/* front page section starts here  */

body{
    background-image: url('./../images/background.jpg');
}

.logo{
    text-align: center;
    margin-top: 20px;
}

/* input section starts here  */

.input_section{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(12, 44, 150, 0.75);
    width:30%;
    margin-top: 50px;
    padding:12px;
}

#player_name_input{
    outline:none;
    padding:12px;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btn{
    background-color: #53e237;
    padding:12px;
    border-radius: 3px;
    font-size: 30px;
    color:white;
    border:none;
    font-family: var(--font);
    cursor: pointer;
}

#room_button{
    margin-top: 10px;
    background-color: #2c8de7;
}

#room_button:hover{
    background-color: #1368b8;
    
}

#play_button:hover{
    background-color: #30ac17;
}

/* input section ends here  */

/* footer section  */

footer{
    display: flex;
    justify-content: center;
    background-color: rgba(7, 36, 131, 0.75);;
    height: 100%;
    margin-top: 30px;
}

.news{
    margin: 0 50px;
}

.footer_block{
    width:25%;
    background-color: rgba(12, 44, 150, 0.75);
    margin-top: 80px;
    color:white;
    text-align: center;
}

/* footer block  section  */

.block_head{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 30px;
}

.about_para{
    margin-top: 30px;
    font-size: 18px;
    /* text-align: left; */
    font-family: var(--font);
}

.instruction_img{
    margin-top: 50px;
}

.instruction_img p{
    font-size: 18px;
    text-align: center;
    font-family: var(--font);
}

.fa-circle{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fa-circle:hover{
    cursor: pointer;
}

.news_head{
    display: flex;
    justify-content: space-between;
    font-family: var(--font);
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #eee;
    
}

.ul1{
    margin-left: 40px;
}

.news_ul_section{
    font-family: var(--font);
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
    padding-left:25px;
}

/* footer block section ends here  */

/* front page css ends here  */


/* play page css start here  */


.play_logo{
  text-align:left;
  margin-left: 20px;
  margin-top: 50px;
}

.play_logo img{
    width:400px;
}

/* guess word section starts here  */

.bar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock p{
    font-weight: bolder;
    font-size: 18px;
    font-family: var(--font);
    margin-left: 10px;
}

.timer{
    position: absolute;
    top:40%;
    left:5%;
}



.guess_word{
    font-weight: bolder;
    font-family: var(--font);
    text-align: center;
}

/* guess word  section ends here  */

/* play area section starts here  */
.play_area{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    column-gap: 20px;
    justify-content:center;
    width:95%;
    margin: 0 auto;
}

.player_list{
  background-color: white;
  font-size: 18px;
  font-weight: bolder;
  font-family: var(--font);
  height: max-content;
}

.player_list .player:nth-child(even){
    background-color: rgb(218, 210, 210);
}


.player{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.points{
    text-align: center;
    font-size: 15px;
    color:grey;
}


.player_name{
    text-align: center;
}

.drawing_area{
 background-color: white;
 height:500px;
}



.word_typing{
 background-color: white;
 position: relative;
}

.animated_character, .pencil{
    height:50x;
    width:50px;
}

.pencil2, .pencil3,.pencil4,.pencil5{
    visibility: hidden;
}

/* play area section ends here  */

/* draw section css starts here  */


h1 {
    color:white;
}

.drawing_box {
    height: 100%;
    display: flex;
}

.thumbs_up, .thumbs_down{
    cursor:pointer;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 120px;
    background-color:rgba(12, 44, 150, 0.75);
}

#toolbar * {
    margin-bottom: 15px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100px;
}

#toolbar button {
    background-color: #073f80;
    border: none;
    border-radius: 4px;
    color:white;
    padding: 5px;
    cursor:pointer;
    font-size: 18px;
    
}

#toolbar label{
    font-family: var(--font);
    font-size: 18px;
    color:white;
}

#lineWidth{
    padding:5px;
    font-size: 18px;
    outline:none;
}

/* draw section css ends here  */

/* result display page start here  */

.result_display{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width:100%;
    z-index: 1000;
    position: relative;
    text-align: center;
    top:-500px;
    display: none;
}



.result_content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-items: center;
}

.result_content h3{
    color:white;
    font-family:var(--font);
    font-size: 30px;
}

.result_content *{
    margin-bottom: 10px;
}

.result_content p{
    color:white;
    font-family: var(--font);
    font-size: 20px;
}

.score{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: 25px;
    font-family:var(--font);
}



.player_1_score{
    color:red;
}



/* result display page ends here  */

/* word typing area starts here  */


.word_typing{
    height:500px;
}

.written_words{
    display:flex;
    font-family:var(--font);
    padding:5px;
}



.show_word_area :nth-child(odd){
    background-color: rgb(226, 221, 221);
}

.show_word_area{
    height:80%;
    overflow-y:scroll;
}

#word_input{
    position: absolute;
    outline: none;
    font-size: 20px;
    padding: 12px;
    width: 90%;
    margin-left:5%;
    bottom:10px;
}

/* word typing area ends here  */


/* room page css starts here  */

.room_timer{
    position: absolute;
    top:40%;
    left:8%;
}

.form_area{
    width:100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    background-color: grey;
}

.option_content{
    display: flex;
    align-items: center;
}

.option_content img{
    margin-right: 10px;
}

.option_content p{
    color:white;
    font-family: var(--font);
    font-size: 20px;
}

.option_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

#select_options{
    width:400px;
    height:40px;
    outline: none;
}

textarea{
    width:100%;
    outline: none;
    padding:5px;
    font-size: 20px;
}

textarea::placeholder{
    font-size: 20px;
    font-family: var(--font);
}

.start_btn{
    width:100%;
    color:white;
    cursor: pointer;
    background-color: #53e237;
    padding:15px;
    font-size: 30px;
    border:none;
}

.copy_link{
    text-align: center;
    color: 1368b8;
    background-color: white;
    width:50%;
    margin:0 auto;
    font-size: 20px;
    font-family: var(--font);
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.hover_link{
    display: none;
}

.link h3{
    text-align: center;
    color:white;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: var(--font);
}

.link{
    margin-right: 150px;
    margin-top: 20px;
}

.copy_button{
    background-color: #1368b8;
    color:white;
    padding:10px;
    font-size: 20px;
    font-family: var(--font);
    border:none;
    cursor: pointer;

}

/* room page css ends here  */


/* choose word  section  */

.word_display{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width:100%;
    z-index: 1000;
    position: relative;
    text-align: center;
    top:-500px;
}

.word_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    color:white;
    padding-top: 20%;
}

.word_content h2{
    font-size: 30px;
    font-family: var(--font);
}

.arr_of_words{
    margin-top: 30px;
    cursor:pointer; 
    display: flex;
    flex-wrap: wrap;  
}

.words_to_display{
    font-size:30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-family: var(--font);
}

.arr_of_words :nth-child(odd){
    border:2px solid white;
    padding:10px;
    
    
}
.arr_of_words :nth-child(even){
    background-color: grey;
    padding:10px;
    border:2px solid transparent
    
    
}



/* choose word section ends here  */


/* winner display section  */

.winner_display{
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width:100%;
    z-index: 1000;
    position: relative;
    text-align: center;
    top:-500px;
    display: none;
}

.winner_content h2{
    font-size: 30px;
    font-family: var(--font);
    padding-top: 25%;
    color:white;
}
/* winner display section ends here  */
.green{
    background-color: #53e237 !important;
}

.score_green{
    color: #53e237 !important;
}






